form {
    box-shadow: 0 4px 10px rgba(190, 190, 190, 0.6);
    max-width: 100%;
    min-width: 400px;
    /*position: relative;*/
    position: absolute;
    top: 220px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;    
}

.input {
    border: none;
    font-size: 0.8rem;
    padding: 0.4rem 0.4rem;
    display: block;
    width: 100%;
}

.input::placeholder {       /*set the default value in the input box*/
    color: lightgray;
}

.toDoList {
    background-color: steelblue;    /*set the style of added to-do item*/
    padding: 0px;
    margin: 0%;
    list-style-type: none;
}

.toDoList li {
    border-top: 1px solid lightgray;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.4rem 0.4rem;
    position: relative;
}

.toDoList li.completed {        /*set the style of completed to-do item*/
    color: lightgray;
    text-decoration: line-through;
    font-style: italic;
    background-color: gray;    
}

#notes {
    display: block;
    text-align: left;
    align-self: left;
}

/* tablet mode */
@media only screen and (min-width: 481px){
    .input {
        border: none;
        font-size: 1rem;
        padding: 0.8rem 0.8rem;
        display: block;
        width: 100%;
    }

    .toDoList li {
        border-top: 1px solid lightgray;
        cursor: pointer;
        font-size: 1rem;
        padding: 0.8rem 0.8rem;
        position: relative;
    }
    
}

/* desktop mode */
@media only screen and (min-width: 769px){

    .input {
        border: none;
        font-size: 1.2rem;
        padding: 1rem 1rem;
        display: block;
        width: 100%;
    }

    .toDoList li {
        border-top: 1px solid lightgray;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 1rem 1rem;
        position: relative;
    }

}