*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(53, 53, 53);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;


}


.content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    /*margin: 50px 30px auto auto;*/

}

a {
    text-decoration: none;
    
}

.link_container {
    display: flex;
    flex-flow: column;
}

.link {
    margin: 40px;
    flex: 1 1;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: left;
    color: whitesmoke;
    margin: 10px;
}

.btn {
    padding: 8px 15px;
    background: crimson;
    border-radius: 15px;
    color: whitesmoke;
    margin: 0 10px;    
}

.btn:hover {
    background: royalblue;
}

/* tablet mode */
@media only screen and (min-width: 481px){
    .link_container {
        flex-flow: column;
    }

    
}

/* desktop mode */
@media only screen and (min-width: 769px){
    .link_container {
        flex-flow: row;
    }


}